/* Basislayout */

* {
box-sizing: border-box;
overflow: hidden;
margin:0px;
border: 2px solid red;
}

html, 
body {
  height: 100%;
  background-color:rgb(46, 116, 0);
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
 }


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: white;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.bg {
  background-image: url("gras.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kolomrechts {
 width:300px;
 float:left;
 border: 2px solid yellow;
}

.kolomlinks {
 width: calc( 100% - 300px);
 float:right;
 border: 2px solid green;
}
.box2rechts {
 width:300px;
 float:left;
 border: 2px solid rgb(0, 0, 0);
}

.box2links {
 width: calc( 100% - 300px);
 float:right;
 border: 2px solid rgb(255, 255, 255);
}
.box3rechts {
 width:300px;
 float:left;
 border: 2px solid rgb(0, 255, 221);
}

.box3links {
 width: calc( 100% - 300px);
 float:right;
 border: 2px solid rgb(255, 0, 242);
}
/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-left: 15px;
    width: 250px;
}
img.rlcs {
    float: left;
    margin-right: 15px;
    width: 250px;
}
    img.soorten {
    float: left;
    margin-right: 15px;
    width: 250px;
}
    img.rarety {
    float: right;
    margin-left: 15px;
    width: 250px;
}
img.sideswipe {
    float: right;
    margin-left: 15px;
    width: 50%;
}
img.eigenaar {
    float: left;
    margin-right: 15px;
    width: 250px;
}
.smalltext {
    font-size: 0.7em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underlined;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:#dddddd;
}

nav li a.active {
    background-color: skyblue;
}




