/* Basislayout */

* {
box-sizing: border-box;
overflow: hidden;
margin:0px;
border: 2px dotted red;
}

body {
  overflow-y: scroll; /*show vertical scrollbars*/
  overflow-x: scroll; /*show horizontal scrollbar*/
}

html, 
body {
  height: 100%;
  background-color:rgb(46, 116, 0);
  background-image: url(afbeeldingen/achterground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
 }


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: helvetica neue;
}


header {
    color: white;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* pagina layout */
.kolomlinks {
 width:300px;
 float:left;
 border: 2px solid yellow;
}

.kolomrechts {
 width: calc( 100% - 300px);
 float:right;
 border: 2px solid green;
}
.box2links {
 width:300px;
 float:left;
 border: 2px solid rgb(0, 0, 0);
}

.box2rechts {
 width: calc( 100% - 300px);
 float:right;
 border: 2px solid rgb(255, 255, 255);
}
.box3links {
 width:300px;
 float:left;
 border: 2px solid rgb(0, 255, 221);
}

.box3rechts {
 width: calc( 100% - 300px);
 float:right;
 border: 2px solid rgb(255, 0, 242);
}
/* specifieke stijlen */


.smalltext {
    font-size: 0.7em;
}

a {
    color: red ;
    text-decoration: none;
}

a:hover {
    text-decoration: underlined;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:#dddddd;
}

nav li a.active {
    background-color: skyblue;
}




